<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen"
  >
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="/dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </mat-list-item>
      <mat-list-item routerLink="/user-management">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>User Management</span>
      </mat-list-item>
      <mat-list-item routerLink="/role-management">
        <mat-icon matListItemIcon>security</mat-icon>
        <span matListItemTitle>Role Management</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-toolbar">
      <button *ngIf="isSmallScreen" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>RBAC System</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
