.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.top-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  padding: 16px;
}

.spacer {
  flex: 1 1 auto;
}

